$primary: #c29938;
$light: #fffde7;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #fbf0ff,
  "altdark": #51006e,
  "purpdark": #800cb6,
  "purp-light": #b310ff,
  "turqdark": #0cbf86,
  "turqlight": #0fffb3,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
